# Firebase — copia este archivo como `.env` en la raíz del proyecto

VITE_FIREBASE_API_KEY=AIzaSyDVKSDD2MOSrJ5iT0LRm1j4rLlYDsCyI5M
VITE_FIREBASE_AUTH_DOMAIN=housework-app-5481a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=housework-app-5481a
VITE_FIREBASE_STORAGE_BUCKET=housework-app-5481a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=255676088068
VITE_FIREBASE_APP_ID=1:255676088068:web:9f1edd564359d3baf55a51
